@import "tailwindcss";

/* ------------------------------------------------------------------------- */

* {
  scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------- */

.fonts-tajawal {
  font-family: "Tajawal", sans-serif, serif;
  font-style: normal;
}

.fonts-plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif, serif;
  font-style: normal;
}

/* ------------------------------------------------------------------------- */